h1{
    color: aqua !important;
    font-family: sans-serif;
    margin: 30px;
}

h1:hover{
    color: #000a00;
    background-color: burlywood;
}

h1:active{
    color: #000a00;
    background-color: rgb(142, 222, 135);
}

li:first-child{
    color: red;
}

li:nth-child(3){
    color: green;
}

li:last-child{
    color: darkgoldenrod;
}

.lista li:not(.Excluir){
    color: darkslateblue;
}

input[type="checkbox"]{
    margin: 50px;
}

input[type="checkbox"]{
    margin: 0;
}

a:link{
    color: rgb(35, 35, 175);
}

a:visited{
    color: rgb(18, 128, 25);
}

.rojo-input:focus{
    background: red;
    color: yellow;
}

.azul-input:focus{
    background: yellow;
    color: blue;
}

input:invalid{
    color: red;
}

input:valid{
    color: rgb(54, 155, 20);
}