div{
    padding: 30px;
}

h1::first-letter{
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}

h1::selection{
    background-color: aqua;
}

div::first-line{
    color: orange;
}

li::after{
    content: "DÉSPUES";
    color: blue;
}

li::before{
    content: "ANTES";
    color: darkgoldenrod;
}