body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #444;
    background-color: #000f;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
    padding: 10px;
}

form{
    background-color: transparent;
    padding: 20px 0px;
    max-width: 500px; /* se mantiene el tamaño depende el dispositivo*/
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 65px #fff2;
    margin-top: 50px;
}

.form_input{
    padding: 6px 20px;
}

input , textarea{
    min-width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #003;
    background-color: transparent;
    border-radius: 5px;
    color: #eee;
    margin: auto;
}

textarea{
    min-width: 100%;
    resize: none; /*no deja que el textarea cambie de tamaño*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    font-size: 0.9em;
    line-height: 2px;
}